@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "_variables";
@import "_animation";
body {
  font-family: $fnt_main;
  font-size: $fnt_size;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: $white;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h2 {
  text-transform: lowercase;
}
section {
  flex-wrap: wrap;
  & > div:not(.middle) {
    flex: 0 0 50%;
    height: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      h2 {
        font-size: 2.6rem;
        margin-bottom: 0.5em;
        color: $fnt_blue;
      }
      p {
        margin-bottom: 20px;
        font-size: 0.9rem;
      }
    }
  }
}
/*********************
navbar
**********************/

nav {
  background: $primary_bg;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  .logo {
    font-size: 1.8rem;
    font-weight: 300;
  }
  .drop_down {
    //     border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    ul {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      //       border: 1px solid red;
      li {
        margin: 0 1em;
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      //       border: 1px solid red;
      & > div {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
      & > a {
        margin-right: 15px;
      }
      .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          display: block;
          width: 30px;
          height: 30px;
          margin-right: 5px;
          img {
            display: block;
            width: 100%;
          }
        }
      }
      .shop {
        display: flex;
        align-items: center;
        justify-content: center;
        .items {
          //   border: 1px solid $white;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          //   line-height: 30px;
          //   text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 5px;
        }
      }
      .langs {
        span {
          &.active {
            color: $fnt_blue;
          }
        }
      }
    }
  }
  .burger {
    display: none;
    width: 30px;
    height: 25px;
    //     border: 1px solid red;
    position: relative;
    span {
      display: block;
      width: 25px;
      height: 2px;
      background: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white;
        transform: translateY(-8px);
      }
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white;
        transform: translateY(8px);
      }
    }
  }
  @media (max-width: 1200px) {
    .drop_down {
      display: none;
    }
    .burger {
      display: block;
      cursor: pointer;
    }
  }
}

/*********************
hero
**********************/

section.hero {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  //   & > div {
  //     flex: 0 0 50%;
  //   }

  .middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
  }
  .right {
    //     border: 1px solid #000;
    //     background-color: $accents;
    position: relative;
    .bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: $accents;
      z-index: 10;
    }
    img {
      position: relative;
      z-index: 20;
      display: block;
      width: 70%;
      margin: 0 auto;
    }
  }
}
